@use "mixins";
@use "variables";

// Footer One
.footer-with-bg {
    background: #F4FAF7;
}
.footer-one {
    padding-top: 50px;
    .email {
        font-size: 18px;
        color: variables.$color-one;
        text-decoration: underline;
    }
    .footer-title {
        font-family: var(--gorditas-font);
        font-size: 22px;
        margin-bottom: 30px;
    }
    .footer-nav-link a {
        color: variables.$text-color;
        margin-bottom: 18px;
        @include mixins.transition(0.1s);

        &:hover {
            color: variables.$color-one;
        }
    }
    .footer-newsletter form {
        position: relative;
        height: 60px;
        background: rgba($color: #000000, $alpha: 0.04);
        border-radius: 7px;
        input {
            width: 100%;
            height: 100%;
            border: none;
            background: transparent;
            padding: 0 105px 0 20px;
            border-radius: 7px;
        }
        button {
            font-size: 15px;
            font-weight: 500;
            position: absolute;
            width: 95px;
            top:10px;
            right: 10px;
            bottom: 10px;
            border-radius: 6px;
            background: variables.$color-one;
            color: #fff;
            @include mixins.transition(0.2s);
            &:hover {
                background: variables.$color-two;
                color: variables.$color-one;
            }
        }
        &.border-style {
            border: 1px solid #000;
            button {
                background: variables.$color-one;
                color: #fff;
                &:hover {
                    background: variables.$color-two;
                    color: variables.$color-one;
                }
            }
        }
    }
    .note {
        font-size: 14px;
        color: #979797;
        margin: 8px 0 0;
    }
    .bottom-footer {
        padding: 40px 0 25px;
        .social-icon a {
            color: rgba($color: #000000, $alpha: 0.6);
            font-size: 16px;
            margin-left: 22px;
            @include mixins.transition(0.2s);
            &:hover {
                color: variables.$color-one;
            }
        }
        .bottom-nav a {
            font-weight: 500;
            color:#000;
            margin-right: 15px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &.bg-two {
        background: variables.$color-one;
    }
    &.white-version .footer-nav-link a {
        color: rgba($color: #fff, $alpha: 0.7);
        &:hover {
            text-decoration: underline;
            color: #fff;
        }
    }
    &.white-version .footer-newsletter form input {
        background: rgba($color: #fff, $alpha: 0.04);
        color: #fff;
    }
    &.white-version .footer-newsletter form button {
        background: rgba($color: #fff, $alpha: 0.2);
        color: #fff;
    }
    &.white-version .note {
        color: rgba($color: #fff, $alpha: 0.7); 
    }
    &.white-version .bottom-footer .bottom-nav a,
    &.white-version .bottom-footer .social-icon a {
        color: #fff;
    }
}